section {
    width: 30vw;
}
form {
    font-size: 1.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    input {
        border: 2px solid rgba(255,255,255,0.4);
        padding: 0.5em;
        cursor: pointer;
        font-weight: 200;
        margin-bottom: 1em;
    }

    input:focus, input:hover, textarea:focus, textarea:hover {
        border: 2px solid rgba(0,0,255,0.4);
    }

    input:disabled, textarea:disabled {
        background-color: white;
    }

    textarea {
        border: 2px solid rgba(255,255,255,0.4);
        padding: 0.5em;
        resize: none;
        font-size: 1em;
        color: rgba(0,0,0,0.5);
        cursor: pointer;
        margin-bottom: 1em;
    }
}

.selectSection {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-weight: 800;
    margin-bottom: 1em;
}

.errorParagraph {
    color: rgba(255, 0, 0, 0.5);
}

button {
    width: 200px;
    background: none;
    padding: 0.25em;
    border: 2px solid rgba(0,0,255,0.4);
    align-self: center;
}

button:hover {
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(0,0,255,0.4);
    color: white;
}